@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* my colors */
  --foundry-global-color-gray-adaptive-600: #989898;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes autoplay-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.autoplay-progress {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

button {
  cursor: pointer;
}


/* Glitch effect - START */

@keyframes icon-animation-1 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 3px);
  }

  40% {
    transform: translate(-1px, -1px);
  }

  60% {
    transform: translate(1px, 2px);
  }

  80% {
    transform: translate(1px, 1px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes icon-animation-2 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(1px, -2px);
  }

  40% {
    transform: translate(-1px, 1px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  80% {
    transform: translate(0, 1px);
  }

  to {
    transform: translate(0);
  }
}

.custom-glitch__effect .logo-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  height: calc(32px * 1.2);
  width: calc(32px * 1.2);
  color: #e5e7eb;
  cursor: pointer;
}

.custom-glitch__effect .logo-icon:before {
  z-index: -1;
}

.custom-glitch__effect .logo-icon:after {
  z-index: -2;
}

.custom-glitch__effect .logo-icon__path {
  opacity: 0;
  transition: color 0.1s;
}

.custom-glitch__effect .logo-icon:hover .logo-icon__path {
  opacity: 1;
  animation-name: icon-animation-1;
  animation-duration: 0.4s;
  animation-direction: both;
  animation-iteration-count: 2;
  color: #418fa7 !important;
}

.custom-glitch__effect .path-two {
  opacity: 0;
  transition: color 0.1s;
}

.custom-glitch__effect .logo-icon:hover .path-two {
  opacity: 1;
  animation-name: icon-animation-2;
  animation-duration: 0.4s;
  animation-direction: both;
  animation-iteration-count: 2;
  color: #dc3744 !important;
}

.video-section-link {
  @apply text-neutral-300 flex justify-between items-center gap-2 font-bold -tracking-[0.005em] text-lg leading-[150%]
}

.video-section-link.games {
  @apply text-[var(--foundry-global-color-gray-adaptive-600)]
}

.video-section-link.games::after {
  content: '/';
  @apply p-[calc(4px+1.125)] text-[var(--foundry-global-color-gray-adaptive-600)]
}

.video-section-link.games a:hover {
  @apply underline
}

.video-section-button {
  @apply px-6 h-[60px] rounded-full text-base font-medium
}

/* Infinite Scroll Animation */
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-scroll {
  animation: scroll 120s linear infinite;
  width: max-content;
}

.animate-scroll-slow {
  animation: scroll 180s linear infinite;
  width: max-content;
}


.hg5jwy4 {
  position: absolute;
  inset: 0;
  bottom: -1px;
}

.hg5jwy6 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, 70%, rgba(0, 0, 0, 1) 100%);
}

.vi4uz50 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--foundry-global-color-black-static-100-43aea341);
  overflow: hidden;
  align-content: flex-end;
  width: 100vw;
  margin: 0;
  mask-image: linear-gradient(180deg, rgb(0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.vi4uz51 {
  display: flex;
  position: relative;
  height: 100vh;
  max-height: 100vw;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 768px) {
  .vi4uz51 {
    height: 450px;
  }
}